<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Vista.Properties.Settings.BeLifeConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=BeLife;User ID=sa;Password=Duocadmin2018"
            providerName="System.Data.SqlClient" />
      <add name="BeLifeEntities" connectionString="metadata=res://*/Modelo.csdl|res://*/Modelo.ssdl|res://*/Modelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=BeLife;user id=sa;password=Duocadmin2018;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
    
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>